<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>Guess</servlet-name>
		<servlet-class>GuessNumber</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Guess</servlet-name>
		<url-pattern>/GuessNumber</url-pattern>
	</servlet-mapping>
	
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>